---
import BaseLayout from '../layouts/BaseLayout.astro'
import IteracionesBoard from '../components/IteracionesBoard.astro'
---
<BaseLayout title="Test iteraciones" description="tmp">
  <main class="max-w-[1280px] mx-auto px-6 md:px-12 lg:px-20 pt-32 pb-24">
    <IteracionesBoard />
  </main>
</BaseLayout>
